{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add Report</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form id="reportForm">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Receipt ID <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" id="receipt_id" name="receipt_id" required>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Report <span class="text-danger">*</span></label>
                            <div>
                                <label>
                                    <input type="checkbox" id="report1" name="report"> report_1
                                </label>
                                <label>
                                    <input type="checkbox" id="report2" name="report"> report_2
                                </label>
                                <label>
                                    <input type="checkbox" id="report3" name="report"> report_3
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Report <span class="text-danger">*</span></label>
                            <div>
                                <label>
                                    <input type="radio" id="report_1" name="report" value="report_1" required> report_1
                                </label>
                                <label>
                                    <input type="radio" id="report_2" name="report" value="report_2" required> report_2
                                </label>
                                <label>
                                    <input type="radio" id="report_3" name="report" value="report_3" required> report_3
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Additional Notes</label>
                            <textarea class="form-control" id="additional_notes" name="additional_notes" rows="4" placeholder="Enter any additional details here..."></textarea>
                        </div>
                    </div>
                </div>
                <div id="error-message" class="text-danger" style="display: none;"></div>
                <div class="m-t-20 text-center">
                    <button type="button" id="submitBtn" class="btn btn-primary submit-btn">Add report</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
