{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <!-- Main content -->
    <div class="content">
        <h3 class="text-center mb-4">Welcome to the Doctor Dashboard</h3>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Doctor Responsibilities</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-check-circle text-success"></i> Submit Patient Sick Details</li>
                            <li class="list-group-item"><i class="fa fa-check-circle text-success"></i> Request LAB reports</li>
                            <li class="list-group-item"><i class="fa fa-check-circle text-success"></i> View LAB reports related to patient</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9 p-4">
                <!-- Buttons Section -->
                <div class="d-flex flex-wrap justify-content-start">
                    <a href="{{ url_for('doctor.go_to_request_report') }}" class="btn btn-primary m-2"><i class="fa fa-plus"></i> Request LAB Report</a>
                    <a href="{{ url_for('doctor.view_appointments') }}" class="btn btn-primary m-2"><i class="fa fa-eye"></i> View Appointments</a>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="bg-dark text-white footer" style="margin-bottom: 20px;">
            <div class="col text-center">
                <p>&copy; 2024 ABC Hospital. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
