{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">All Appointments</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
            <a href="{{ url_for('receptionist.go_to_make_appointment') }}"
               class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Make Appointment</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-border table-striped custom-table datatable mb-0">
                    <thead>
                    <tr>
                        <th>Appointment ID</th>
                        <th>Patient Name</th>
                        <th>Doctor Name</th>
                        <th>Issued By</th>
                        <th>Issued Date</th>
                        <th>Status</th>
                        <th class="text-center">Total Amount</th>
                    </tr>
                    </thead>
                    <tbody id="staffTableBody">
                    {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment['receipt_id'] }}</td>
                        <td>{{ appointment['patient_name'] }}</td>
                        <td>{{ appointment['doctor_name'] }}</td>
                        <td>{{ appointment['staff_name'] }}</td>
                        <td>{{ appointment['appointment_date'] }}</td>
                        <td>{{ appointment['status'] }}</td>
                        <td class="text-center">Rs. {{ appointment['total_amount'] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
