{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Change password</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form id="staffForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Staff ID <span class="text-danger">*</span></label>
                            <input class="form-control"
                                   type="text"
                                   id="staff_id"
                                   name="staff_id"
                                   value="{{ staff_id }}"
                                   disabled
                            >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Current password <span class="text-danger">*</span></label>
                            <input class="form-control" type="password" id="current_password" name="current_password" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New password <span class="text-danger">*</span></label>
                            <input class="form-control" type="password" id="new_password" name="new_password" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm Password <span class="text-danger">*</span></label>
                            <input class="form-control" type="password" id="confirm_password" name="confirm_password" required>
                        </div>
                    </div>
                </div>
                <div id="error-message" class="text-danger" style="display: none;"></div>
                <div class="m-t-20 text-center">
                    <button type="button" id="submitBtn" class="btn btn-primary submit-btn">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='assets/js/ajax/password_change_ajax.js') }}"></script>
{% endblock %}
